<html lang="{{ .Site.LanguageCode }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    <div id="all">
        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-left">
                {{ partial "sidebar.html" . }}
                <div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
                  <div class="small-navbar visible-xs">
                    <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
                    <h1 class="small-navbar-heading"><a href="/">{{ .Site.Title }}</a></h1>
                  </div>
                  <div class="row">
                    <div class="col-lg-8">
                      <div class="content-column-content">
                         {{ .Content }}
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    {{ partial "scripts.html" . }}
</body>
</html>
