<script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"> </script>
<script src="{{ .Site.BaseURL }}js/jquery.cookie.js"> </script>
<script src="{{ .Site.BaseURL }}js/ekko-lightbox.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.scrollTo.min.js"></script>
<script src="{{ .Site.BaseURL }}js/masonry.pkgd.min.js"></script>
<script src="{{ .Site.BaseURL }}js/imagesloaded.pkgd.min.js"></script>
<script src="{{ .Site.BaseURL }}js/owl.carousel.min.js"></script>
<script src="{{ .Site.BaseURL }}js/front.js"></script>
