<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
  <div class="sidebar-content">
    <h1 class="sidebar-heading"><a href="/">{{ .Site.Title }}</a></h1>
    <p class="sidebar-p">I am a creative illustrator and graphic designer with more than 10 years of experience. </p>
    <p class="sidebar-p">Originally from Toronto, currently based in London. </p>
    <ul class="sidebar-menu">
      {{ $url := .Site.BaseURL }}
      {{ range .Site.Params.navlinks }}
        <li class="active"><a href="{{ $url }}{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
    <p class="social">
      {{ if and (isset .Site.Params.social "facebook") .Site.Params.social.facebook }}
      <a href="{{ .Site.Params.social.facebook }}" data-animate-hover="pulse" class="external facebook">
        <i class="fa fa-facebook"></i>
      </a>
      {{end}}
      {{ if and (isset .Site.Params.social "googleplus") .Site.Params.social.googleplus }}
      <a href="{{ .Site.Params.social.googleplus }}" data-animate-hover="pulse" class="external gplus">
        <i class="fa fa-google-plus"></i>
      </a>
      {{end}}
      {{ if and (isset .Site.Params.social "twitter") .Site.Params.social.twitter }}
      <a href="{{ .Site.Params.social.twitter }}" data-animate-hover="pulse" class="external twitter">
        <i class="fa fa-twitter"></i>
      </a>
      {{end}}
      {{ if and (isset .Site.Params.social "instagram") .Site.Params.social.instagram }}
      <a href="{{ .Site.Params.social.instagram }}" title="" class="external instagram">
        <i class="fa fa-instagram"></i>
      </a>
      {{end}}
      {{ if and (isset .Site.Params.social "email") .Site.Params.social.email }}
      <a href="mailto:{{ .Site.Params.social.email }}" data-animate-hover="pulse" class="email">
        <i class="fa fa-envelope"></i>
      </a>
      {{end}}
    </p>
    <div class="copyright">
      <p class="credit">&copy;2016 Your name or company | Template by <a href="https://bootstrapious.com/free-templates" class="external">Bootstrapious.com</a></p>
      <!-- Please do not remove the backlink to us, unless you support the development at https://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)        -->

    </div>
  </div>
</div>
