<p class="social social--big">
  {{ with .Site.Params.social.facebook }}
  <a href="{{ . }}" class="facebook" title="Facebook" rel="me">
    <i class="fa fa-facebook"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.googleplus }}
  <a href="{{ . }}" class="gplus" title="Google Plus" rel="me">
    <i class="fa fa-google-plus"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.twitter }}
  <a href="{{ . }}" class="twitter" title="Twitter" rel="me">
    <i class="fa fa-twitter"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.instagram }}
  <a href="{{ . }}" title="" class="instagram" title="Instagram" rel="me">
    <i class="fa fa-instagram"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.email }}
  <a href="mailto:{{ . }}" class="email" title="E-mail">
    <i class="fa fa-envelope"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.linkedin }}
  <a href="{{ . }}" title="LinkedIn" rel="me">
    <i class="fa fa-linkedin"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.stackoverflow }}
  <a href="{{ . }}" title="Stack Overflow" rel="me">
    <i class="fa fa-stack-overflow"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.github }}
  <a href="{{ . }}" title="GitHub" rel="me">
    <i class="fa fa-github"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.gitlab }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external" title="GitLab" rel="me">
    <i class="fa fa-gitlab"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.youtube }}
  <a href="{{ . }}" title="YouTube" rel="me">
    <i class="fa fa-youtube"></i>
  </a>
  {{end}}
  {{ with .Site.Params.social.whatsapp }}
  <a href="{{ . }}" data-animate-hover="pulse" class="external" title="WhatsApp">
    <i class="fa fa-whatsapp"></i>
  </a>
  {{end}}
</p>
